.cbp-hrmenu {
	width: 100%;
	/*margin-top: 2em;
	border-bottom: 4px solid #47a3da;*/
}

/* general ul style */
.cbp-hrmenu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	height:auto;
}

/* first level ul style */
.cbp-hrmenu > ul,
.cbp-hrmenu .cbp-hrsub-inner {
	width: 100%;
	/*max-width: 70em;*/
	margin: 0 auto;
	/*padding: 0 1.875em;*/
}

.cbp-hrmenu > ul > li {
	display: inline-block;
	border-right: 1px solid #47a3da !important;
	margin:0;
}

.cbp-hrmenu a.btncbp {
	padding:9px 8px 10px 8px;
	display: inline-block;
	font-weight: 600;
	font-size: 13px;
	font-family: 'Open Sans',sans-serif;
	line-height:1;
}

.cbp-hrmenu a.btncbpTramite {
	background:#66b3ff/*#ff7e66*/;
}

.cbp-hrmenu > ul > li.primero {
	border-left: 1px solid #47a3da !important;
}

.cbp-hrmenu > ul > li.cbp-hropen {
	/*border-bottom: 1px solid #d0e1ea !important;*/
}

.cbp-hrmenu > ul > li > a {
	/*font-weight: 700;
	color: #999;
	padding: 6px;*/
	display: inline-block;
}

.cbp-hrmenu > ul > li > a:hover {
	color: #cdf5ff;
	background: #555;
}

.cbp-hrmenu > ul > li.cbp-hropen a,
.cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color: #fff;
	background: /*#47a3da;*/#ff7e66;
}

.cbp-hrmenu > ul > li.cbp-hropen a.btncbpTramite,
.cbp-hrmenu > ul > li.cbp-hropen > a.btncbpTramite:hover {
	background: #ff7e66;
}

.cbp-hrmenu > ul > li.cbp-hropen ul li a {
	background-color:transparent;
}

/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: /*#47a3da;*/#ff7e66;
	width: 100%;
	left: 0;
	top:33px;
}

.cbp-hrmenu .cbp-hrsub .claveFiscal li {
	border:none !important;
}

.cbp-hropen .cbp-hrsub {
	display: block;
	padding: 3em;
	text-align: left;
}

/*.cbp-hropen .cbp-hrsub a {
	text-transform:none !important;
	font-size:13px;
}*/

.cbp-hrmenu .cbp-hrsub-inner > div {
	width: 33%;
	float: left;
	padding: 0 2em 0;
}

.cbp-hrmenu .cbp-hrsub-inner:before,
.cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}

.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}

.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}

.cbp-hrsub h3 {
	color: #fff;
	margin: 0 0 15px;
	border-bottom:1px solid #ddd;
	border-top:none;
	padding-bottom:5px;
	text-transform:uppercase;
	line-height: normal;
}

.cbp-hrsub h4 {
	color: #fff;
	padding: 0;
	margin: 0 0 10px;
	font-size: 160%;
	font-weight: 300;
	line-height: normal;
}

.cbp-hrmenu li .btnNavSimple {
	/*padding: 7px 15px 8px;*/
}

.cbp-hrmenu li .btnNavSimple:hover {
	color: #cdf5ff;
	background: #555;
	cursor:pointer;
}

.cbp-hrsub ul li {
	/*float:none !important;*/
	border-right:none !important;
}

/* Examples for media queries */

@media screen and (max-width: 52.75em) { 

	.cbp-hrmenu {
		font-size: 12px;
	}

}

@media screen and (max-width: 43em) { 

	.cbp-hrmenu {
		font-size: 12px;
		border: none;
	}
	
	.cbp-hropen .cbp-hrsub {
		padding: 1em;
	}

	.cbp-hrmenu > ul,
	.cbp-hrmenu .cbp-hrsub-inner {
		width: 100%;
		padding: 0;
	}

	.cbp-hrmenu .cbp-hrsub-inner {
		padding: 0 2em;
		font-size: 75%;
	}

	.cbp-hrmenu > ul > li {
		display: block;
		border-bottom: 1px solid #47a3da;
		border-right:none !important;
	}
	
	.cbp-hrmenu > ul > li.primero {
		border-left: none !important;
	}

	.cbp-hrmenu > ul > li > a, .cbp-hrmenu > ul > li > div > a  { 
		display: block;
		padding: 1em 3em;
		width: 100%;
	}

	.cbp-hrmenu .cbp-hrsub { 
		position: relative;
		top:0;
	}

	.cbp-hrsub h4 {
		padding-top: 0.6em;
	}

}

@media screen and (max-width: 36em) { 
	.cbp-hrmenu .cbp-hrsub-inner > div {
		width: 100%;
		float: none;
		padding: 0 2em;
	}
}



