/* accordionMenu Menu by www.menucool.com/vertical/accordionMenu-menu*/

.accordionMenu {
    visibility:hidden;
}

/* root UL */
.accordionMenu ul {
    padding:0;
    margin:0;
    list-style:none;
}

/* sub UL */
.accordionMenu ul ul {
    /*background:#f5f5f5;*/
    padding:0px 0;
}

.accordionMenu ul li.has-sub {
	padding-right:10px;
}


.accordionMenu ul li.has-sub div  {
	font-weight: normal;
    font-size: inherit;
    line-height: 22px;
	background-image: url(/sitio/images/iconos/grisOScuro/hardware/keyboard_arrow_down_18.png);
	background-repeat:no-repeat;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:right 5px;



	
}

.accordionMenu ul li.has-sub div  {


	
}

.accordionMenu  ul.listRight li.has-sub {
	font-weight: normal;
    font-size: inherit;
    line-height: inherit;
	background-image: url(/sitio/images/iconos/grisOScuro/hardware/keyboard_arrow_down_18.png) !important;
	cursor:pointer;
	background-repeat:no-repeat !important;
	background-position:right 10px !important;
	

}


.accordionMenu  ul.listRight li.has-sub div {
	background-image:none !important; }

.accordionMenu ul > li.has-sub div, .accordionMenu  li.has-sub  {

}

.accordionMenu ul li ul li.has-sub div{
	font-weight: normal;
    font-size: 13px !important;
    line-height: 22px;
	background-image: url(/sitio/images/iconos/grisClaro/hardware/keyboard_arrow_down_18.png);
	background-repeat:no-repeat;
	cursor:pointer;
	background-repeat:no-repeat;
	background-position:right 5px;

}




.accordionMenu li.has-sub div :after {
		background-image: url(/sitio/images/iconos/grisClaro/hardware/keyboard_arrow_up_18.png)!important;
		border:none !important;
}


/*---------- Indents ------*/

/*top-level*/
.accordionMenu .top > a, .accordionMenu .top > div {


}

/*2nd-level*/
.accordionMenu li.has-sub ul  {
	margin-top:5px !important;

}

.accordionMenu li.has-sub ul li:hover  {
	background-color: rgba(204,204,204,0.2)

}

/*3rd-level*/
.accordionMenu li li li > a, .accordionMenu li li li > div {  }


/*---------- Other styles ------*/

/* headings */
.accordionMenu li > div{

}
.accordionMenu .active > div {
	

}

.accordionMenu li {
	padding-right: 0px !important;
    margin-right: 0 !important;
    overflow:hidden;
	cursor: pointer;
}

/* Add borders to the top LIs */
.accordionMenu .top {
	border:none;
	background-color: transparent !important;
	padding-right:0px !important; 
	margin-right:0 !important;
}

/* No double borders between LIs*/
.accordionMenu li.top + li.top {

}

/* links */
.accordionMenu a {
    display:block;
    transition:all 0.3s;
}
.accordionMenu a:hover, .accordionMenu a.active {

}


/* carets */
.accordionMenu div.caret {
    display:inline-block; /*float:right;*/
    height: 0;
    overflow:hidden;/*for IE6*/
    position:relative;

}

.accordionMenu div.caret.active {
	font-weight:700 !important;

}

.accordionMenu li {
    -ms-user-select:none;
    -mos-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    user-select:none;
}
