
/*Barra celeste menu*/
#menuContainer {
	background:#67b8de !important;
	box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2) !important;
	z-index:2 !important;
	position:relative;
	border-bottom:1px solid #85c8e7;
}


#cssmenu {
	margin:0 auto;
	width:auto !important;
	padding:0;
	display:block;
	position:relative;
}


#cssmenu ul {
	list-style:none;
	margin:0 auto;
	padding:0;
	display:block;
	font-family:"Open Sans",sans-serif;
}

#cssmenu a {
	color: inherit !important;
	font-weight: inherit !important;
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}

#cssmenu a:hover  {
	color: inherit !important;
	font-weight: inherit !important;
	-webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
}


#cssmenu ul li {
	position:relative;
	float:left;
	padding:9px 8px; /*Alto Item Menu nivel 1*/
	color:#FFF; /*Color fuente Menu nivel 1*/
	background-color: rgba(103,184,222,1) !important; /*Color fondo Item Celeste*/
	background-color: #67b8de\9; /*para IE*/
	border-right:1px solid rgba(255,255,255,.2);
	border-right:1px solid #85c6e4\9; /*para IE*/
	z-index:100; 
	
	font-size:16px !important;
	font-weight:300;
	text-transform:uppercase;
	letter-spacing:0.2px;
	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	cursor:pointer;
}

#cssmenu ul li:hover {
	background: rgba(255,255,255,.3) !important;
	background-color: #85c6e5\9; /*para IE*/;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#cssmenu ul:after, #cssmenu:after {
	content:" ";
	display:block;
	font-size:0;
	height:0px;
	clear:both;
	visibility:hidden;
}



#cssmenu ul li.active {
	background: rgba(69,150,188,1) !important; /*Color fondo Item Celeste*/
	background-color: #4596bc\9; /*para IE*/
	background:#FFF !important\9; /*para IE*/
	color:#FFF !important;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#cssmenu ul li.active:hover  {
	background: rgba(69,150,188,.8) !important; /*Color fondo Item Celeste*/
	background:#FFF !important\9; /*para IE*/
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	
}
/*Has sub flecha no seleccionado*/
#cssmenu ul li.has-sub  {
	background: rgba(103,184,222,1) !important; /*Color fondo Item Celeste*/
	background-color: #67b8de\9; /*para IE*/
	background-image:url(/sitio/images/iconos/blanco/navigation/arrow_drop_down_18.png)!important;
	background-position:96%!important;
	background-size:18px 18px!important;
	background-repeat:no-repeat !important;
	
	padding-right:2% !important;	
	margin-right:0px!important;
	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}
/*Has sub flecha no seleccionado hover*/
#cssmenu ul li.has-sub:hover  {
	background: rgba(69,150,188,.8) !important; /*Color fondo Item Celeste*/
	background-color: #4596bc\9; /*para IE*/
	background-image:url(/sitio/images/iconos/blanco/navigation/arrow_drop_down_18.png)!important;
	background-position:96%!important;
	background-size:18px 18px!important;
	background-repeat:no-repeat !important;
	
	padding-right:2% !important;	
	margin-right:0px!important;
	
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
	
}


#cssmenu ul li.has-sub.active:hover  {
	color: #cfefff !important;

}
#cssmenu ul li.has-sub.active a {
	color: inherit !important;

}




#cssmenu ul li.has-sub.active {
	/*Has sub active seleccionado*/
	background-color: rgba(69,150,188,1) !important; /*Color fondo Item Celeste*/
	background-color: #4596bc\9; /*para IE*/
	background-image:url(/sitio/images/iconos/blanco/navigation/arrow_drop_down_18.png)!important;
	background-position:96%!important;
	background-size:18px 18px!important;
	background-repeat:no-repeat !important;
	padding-right:35px !important;	
	margin-right:0px!important;
	color:#FFF !important;

	
}

#cssmenu ul li.has-sub.active:hover {
	/*Has sub active seleccionado*/
	background-color: rgba(27,108,146,1) !important; /*Color fondo Item Celeste*/
	background-color: #1b6c92\9; /*para IE*/
	background-image:url(/sitio/images/iconos/blanco/navigation/arrow_drop_down_18.png)!important;
	background-position:96%!important;
	background-size:18px 18px!important;
	background-repeat:no-repeat !important;
	
	padding-right:35px !important;	
	margin-right:0px!important;
	color:#FFF !important;

	
}

#cssmenu ul .active li  {
	border-right:1px solid !important;
}

/* SUB MENU */
#cssmenu ul li ul {
	position:absolute;
	left:-9999px;
	top:auto;
	margin-top:10px;
	z-index:101 !important;
    border: 1px solid #dadada;
	border-top:none;
	background-color:#FFF;
    border-bottom: 2px solid #dadada;
	box-shadow: 0 0 30px 0 rgba(0,0,0,0.16) !important;
	
}
/* Sub menu item */
#cssmenu ul li ul li {
	position:absolute;
	border-bottom:1px dotted #dadada;
	background-color:#FFF !important;
	background-image:url(/sitio/images/iconos/azul/navigation/chevron_right_18.png)!important;
	background-position:10px 10px !important;
	background-size:18px 18px!important;
	background-repeat:no-repeat !important;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
	padding:10px 20px 10px 35px;
	margin:0;
	font-weight:400; /* Grosor fuente sub menu */
	font-size:12px !important; /* Tamaño fuente sub menu */
	color:#333;
	
}

#cssmenu ul li ul li a {
	font-size: inherit!important;

}


/* Sub menu item hover */
#cssmenu ul li ul li:hover {
	background-color:#e5e9ed !important; /* Color de fondo */
	background-image:url(/sitio/images/iconos/azul/navigation/chevron_right_18.png)!important;
	background-position:13px 10px !important;
	background-size:18px 18px!important;
	background-repeat:no-repeat !important;
	-webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
	color:#03547a;
	font-weight:600; /* Grosor fuente sub menu */
	
}

#cssmenu ul li ul li.has-sub:after {
	display:block;
	position:absolute;
	content:"";
	height:10px;
	width:10px;
	border-radius:5px;
	background:#000000;
	z-index:101;
	top:11px;
	right:15px;

}
#cssmenu.align-right ul li ul li.has-sub:after {
	right:auto;
	left:15px;
}
#cssmenu ul li ul li.has-sub:before {
	display:block;
	position:absolute;
	content:"";
	height:0;
	width:0;
	border-right:none !important;
	z-index:101;
	top:15px;
	right:15px;
}
#cssmenu.align-right ul li ul li.has-sub:before {
	right:auto;
	left:150px;
}



#cssmenu>ul>li:hover>a:before,#cssmenu>ul>li.active>a:before {
	border-top-color:#ffffff;
}
#cssmenu>ul>li:hover>ul {
	left:0;
}
#cssmenu>ul>li:hover>ul>li {
	max-height:72px;
	position:relative;
}
#cssmenu #menu-button {
	display:none;
}
#cssmenu>ul>li>a {
	display:block;
	margin: 0 6px;
}
#cssmenu>ul>li {
	width:auto;
}
#cssmenu>ul>li>ul {
	min-width:250px;
	display:block;
}
#cssmenu>ul>li>ul>li {
	min-width:250px;
	display:block;
}

#cssmenu>ul>li:last-child {
	border-bottom :none!important;
}


/* RESPONSIVE ------------------------------------------------------------------------------------------------  */

@media (max-width: 768px) {
	
	#menuContainer {
		box-shadow: 0px 2px 9px 0px rgba(0,0,0,0.2) !important;
		z-index:2 !important;
		position:relative;
		border-bottom:1px solid #85c8e7;
	}	
	
	#menuContainer .container {
		width:96% !important;
	}

	
	#cssmenu>ul {
		max-height:0;
		overflow:hidden;
		display:block;
		-webkit-transition:max-height 0.35s ease-out;
		-moz-transition:max-height 0.35s ease-out;
		-ms-transition:max-height 0.35s ease-out;
		-o-transition:max-height 0.35s ease-out;
		transition:max-height 0.35s ease-out;
	}
	
	
	
	#cssmenu>ul>li>ul {
		width:100%;
		display:block;
		
	}
	#cssmenu.align-right ul li a {
		text-align:left;
	}
	#cssmenu>ul>li>ul>li {
		width:100%;
		display:block;
	}
	#cssmenu.align-right ul ul li a {
		text-align:left;
	}
	#cssmenu>ul>li>ul>li>a {
		width:100%;
		display:block;
	}
	
	
	/*Menu Submenu responsive*/
	#cssmenu ul li {
		border-right:none !important;
		border-bottom:1px solid #91c9e8;
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 14px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		padding:0 5px 0 28px;
	}
	
	#cssmenu ul li:hover {
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:13px 14px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color: rgba(255,255,255,.3) !important ;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		background-color: transparent !important;
	}
	
	#cssmenu a:hover  {
		color: inherit !important;

	}
	
	#cssmenu ul li.home a:hover {
		margin:0;
		width:55px;
		height:41px;
		padding:10px;
		display:block;
		position:relative;
		border-right:1px solid #d0e1ea;

	}
	
	
	
	/* Links sub menu*/
	#cssmenu ul li ul li a {
		color: inherit !important;

	}
	
	#cssmenu ul li ul li a:hover  {
		color: inherit !important;
		font-weight:700;
		background-color: transparent !important;
	}
	

	
	#cssmenu ul li.has-sub  {
		padding-right:60px;
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		background-color: transparent !important;
	
	}
	
	
	#cssmenu ul li.has-sub:hover  {
		background-position:13px 10px !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		background-color:transparent !important;

	
	}

	#cssmenu ul li.has-sub.active, #cssmenu ul li.has-sub  {
		padding-right:40px;
		padding:0 5px 0 28px;
		color:#FFF;
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
	
	}
	
	#cssmenu ul li.has-sub:hover, #cssmenu ul li.has-sub.active:hover   {
		color:#FFF !important;
		font-weight:400 !important;
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:13px 10px !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		background-color:transparent !important;
	
	}
	
	#cssmenu ul .active li  {
		border-right:none !important;
		}
	
	#cssmenu ul li .has-sub:hover  {
		border-right:1px solid #dadada !important;
		background:none !important;
	}
	
	#cssmenu ul li.has-sub.active  {
			
		background-color:none !important;
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;.
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#FFF;
		font-weight:600 !important;
	}

	/* Clases Active*/
	#cssmenu ul li.active {
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#FFF !important;
		font-weight:600 !important;
	}
	
	#cssmenu ul li ul li.active {
		background-image:url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#FFF !important;
		
	}
	#cssmenu ul li ul li.active:hover {
		background-image:url(/sitio/images/iconos/azul/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#FFF !important;
		

	}
	
	#cssmenu ul li:hover, #cssmenu ul li.active:hover,    {
		background-image:url(/sitio/images/iconos/azul/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#FFF !important;

	}
	
	#cssmenu ul li.active:hover {
		background-image:url(/sitio/images/iconos/azul/navigation/chevron_right_18.png)!important;
		background-position:10px 10px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#FFF !important;

	}
	#cssmenu ul li.a:hover {
		color: inherit !important;
	
	}



	

	
	/* SUB MENU */	
	#cssmenu ul li ul {
		position:absolute;
		left:-9999px;
		top:auto;
		color:#FFF;
		margin-top:0px !important;
		z-index:101!important;
		border:none !important;
		box-shadow:none !important;
		background:none !important;

	
		
	}
	
	
	#cssmenu ul li ul li {
		position:absolute;
		border-bottom:1px dotted #91c9e8;
		border-left:1px dotted #91c9e8;
		background-image: url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 14px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		background-color:transparent !important;
		margin:0;
		
		color:#FFF;
		padding:0px !important;
		padding-left:30px !important;
	}
	#cssmenu ul li ul li:first-child {
	
		}
	
	#cssmenu ul li ul li:hover {
		background-image: url(/sitio/images/iconos/blanco/navigation/chevron_right_18.png)!important;
		background-position:10px 14px !important;
		background-size:18px 18px!important;
		background-repeat:no-repeat !important;
		background-color:transparent !important;
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		transition: all 0.2s;
		color:#d7eef9;
		font-weight:500 !important;	
	}






	
	
	
	

	#cssmenu.align-center>ul {
		text-align:left;
	}
	#cssmenu.align-center>ul>li {
		display:block;
	}
	#cssmenu>ul.open {
		max-height:1000px;
		border-top:2px solid #91c9e8;
	}
	#cssmenu ul {
		width:100%;
	}
	#cssmenu ul>li {
		float:none;
		width:100%;
	}
	#cssmenu ul li a {
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		padding:12px;
		
	}
	#cssmenu ul>li:after {
		display:none;
	}
	
	#cssmenu ul li ul,#cssmenu ul li ul li ul,#cssmenu ul li ul li:hover>ul,#cssmenu.align-right ul li ul,#cssmenu.align-right ul li ul li ul,#cssmenu.align-right ul li ul li:hover>ul {
		left: 0;
		position: relative;
		right: auto;
	}
	#cssmenu ul li ul li,#cssmenu ul li:hover>ul>li {
		max-height:999px;
		position:relative;
		
	}
	


	
	
	/*Arma icono meneu lineas*/
	#cssmenu #menu-button {
		display:block;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
		width:100%;
		text-transform:uppercase;
		padding:15px 0 15px 0;
		font-weight:200;
		font-size:16px;
		letter-spacing:0px;
		color:#ffffff;
		cursor:pointer;
	}
	
	
	#cssmenu #menu-button:after {
		display:block;
		content:'';
		position:absolute;
		height:9px;
		width:20px;
		border-top:3px solid #ffffff;
		border-bottom:3px solid #ffffff;
		right:3px;
		top:16px;
	}
	#cssmenu #menu-button:before {
		display:block;
		content:'';
		position:absolute;
		height:px;
		width:20px;
		border-top:3px solid #ffffff;
		right:3px;
		top: 28px;
	}
	

	
}