/* This stylesheet is used for preview, not related to slider basic files. Do NOT include it in your project */

#content-slider {
	/*width: 980px;
	height: 100%;
	margin: 0 auto 2px;*/

}
.royalSlider {	
	position:relative;
	/* set width and height of slider here, in px, % or em*/
	/*width:980px;
	height:364px;*/
	/* Used to prevent content "jumping" on page load. this property is removed when javascript is loaded and slider is instanciated */
	overflow:hidden;
}
.royalSlide {
	height:100% !important;
}
.royalSlide img {
	width:100% !important;
}
.royalSlider .royalControlNavOverflow {
	margin-top: -15px;
}
.royalSlider .arrow.right {	
	right: -5px;
}
.royalSlider .arrow.left {	
	left: -5px;
}
.royalSlider.iskin .royalControlNavOverflow {
	margin-top: -40px !important;
	padding-bottom:10px;
}